<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MarketCrunch AI">
    <listeners>
        <listener class-name="listeners.Listener"/>
        <listener class-name="listeners.MyCustomReport"/>
    </listeners>
    <parameter name="browser" value=""/>
    <suite-files>
        <suite-file path="SmokeTest.xml"/>
        <!--            <suite-file path="Sprint_Chrome.xml"/>-->
        <!--            <suite-file path="Sprint_Firefox.xml"/>-->
    </suite-files>
</suite>